.App {
  text-align: center;
  background-color: lightgrey;
}

.icon {
  display: 'flex';
  color:white;
  float: 'left';
  margin-right: 18px;
}

.menu {
  background-color: 'red'
}

.btn-grey{
  padding: 14px !important;
}
