body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAppBar-colorPrimary{
  background: red !important;
}

.sidenav---sidenav---_2tBP {
  background: red !important;
  margin-top: 60px;
}

.MuiPaper-root{
  background: lightgray;
}

.modal-content{
  margin-top: 75px !important;
  margin-left: 5px !important;
}

.MuiListItemText-root{
  display: none;
}

.MuiDrawer-paper{
  background-color: lightgrey !important;
}

.buttering{
  margin-top: 9px;
  font-size: 40px !important;
}





